/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.testimonial-group > .row {
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  width: 1070px;
}